<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title:'Zen Hogar | Welcome'}) %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="product-detail__container form-section">
        <!-- Contenedor del formulario (Registers,logins,create-product,etc) -->
        <section class="form-container">
            <div class="form-container__header">
                <h1 class="form-title"></h1>
                <div class="form-logo product-detail-logo">
                    <a href="#">
                        <img src="./logo_zen_hogar-black.svg" alt="site logo" class="form-logo__img">
                    </a>
                </div>
            </div>
            <!-- Detalle de producto -->
            <div class="product-detail">
                <!-- Imagen del producto -->
                <div class="product-image">
                    <div class="product-image__container">
                        <img class="product-image__img" src="sofa.jpg" alt="">
                    </div>
                </div>
                <div class="product-info">
                    <h1 class="product-info__product-name">Nombre del producto </h1>
                    <hr class="menu__hr">
                    <h2 class="product-info__product-price">$49,999.99</h2>
                    <div class="product-info__discount">
                        <span class="product-info__product-price-pre">$79,999.99</span>
                        <span class="product-info__product-discount-amount">%30 OFF</span>
                        <hr class="menu__hr">
                    </div>
                    <p class="product-info__description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, modi impedit commodi perspiciatis
                        saepe vitae facilis fugit, animi ab nostrum repellat tempora, autem molestias enim dignissimos.
                        Delectus sequi necessitatibus molestiae, eligendi ab rem quas eveniet perferendis a magni
                        laboriosam labore! A doloribus praesentium necessitatibus nihil maxime quia quos quidem mollitia
                        quisquam? Eaque repellat tempora ipsa recusandae numquam ab tenetur quo?
                    </p>
                    <form action="#">
                        <button class="btn btn--alt product-detail-btn">Agregar al carrito</button>
                    </form>
                    <form action="#" style="margin-top: 1em;">
                        <button class="btn close product-detail-btn">Comprar ahora</button>
                    </form>
                </div>


            </div>
        </section>
    </main>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>