<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Proyecto Integrador - Cambiar la contraseña</title>
</head>

<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section class="register-section container">
            <article class="register__container sections__title">
                <h1>Actualizar contraseña</h1>
                <p>Recuerda siempre que no debes compartir tu contraseña con nadie</p>
                <form action="/users/profile/security?_method=PATCH" method="POST" class="register-form" style="margin-top:10%; margin-bottom:10%;">

                    <div class="form__group">
                        <% if (locals.errors && locals.errors.password) { %>
                            <div class="form__input active">
                                <label for="password" class="label active">
                                    Nueva contraseña
                                </label>
                                <input type="password" class="input active" name="password">
                            </div>
                            <div class="form_group-error active">
                                <span class="active"><%= locals.errors.name.msg %> </span>
                            </div>
                        <% } else {%>
                            <div class="form__input">
                                <label for="password" class="label">
                                    Nueva contraseña
                                </label>
                                <input type="password" class="input" name="password">
                            </div>
                            <div class="form_group-error">
                                <span>Lorem ipsum dolor sit amet.</span>
                            </div>
                        <% } %>
                    </div>

                    <div class="form__group">
                        <% if (locals.errors && locals.errors.repassword) { %>
                            <div class="form__input active">
                                <label for="repassword" class="label active">
                                    Repetir nueva contraseña
                                </label>
                                <input type="password" class="input active" name="repassword">
                            </div>
                            <div class="form_group-error active">
                                <span class="active"><%= locals.errors.repassword.msg %></span>
                            </div>
                        <% } else {%>
                            <div class="form__input">
                                <label for="repassword" class="label">
                                    Repetir nueva contraseña
                                </label>
                                <input type="password" class="input" name="repassword">
                            </div>
                            <div class="form_group-error">
                                <span>Lorem ipsum dolor sit amet.</span>
                            </div>
                        <% } %>
                    </div>
        
                    <div class="form__group">
                        <% if (locals.errors && locals.errors.oldPassword) { %>
                            <div class="form__input active">
                                <label for="oldPassword" class="label active">
                                    Contraseña anterior
                                </label>
                                <input type="password" class="input active" name="oldPassword">
                            </div>
                            <div class="form_group-error active">
                                <span class="active"><%= locals.errors.oldPassword.msg %></span>
                            </div>
                        <% } else {%>
                            <div class="form__input">
                                <label for="oldPassword" class="label">
                                    Contraseña anterior
                                </label>
                                <input type="password" class="input" name="oldPassword">
                            </div>
                            <div class="form_group-error">
                                <span>Lorem ipsum dolor sit amet.</span>
                            </div>
                        <% } %>
                    </div>

                    <div class="form__btns">
                        <button type="submit" class="btn">Cambiar contraseña</button>
                    </div>
                </form>
            </article>
        </section>
    </main>
    <script src="/js/header.js"></script>
</body>

</html>