<header>
    <nav class="mobile-header">
        <div class="mobile-header__logo-container">
            <a href="/">
                <img class="mobile-header__logo" src="/img/assets/logo/logo_zen_hogar-black.svg" alt="Site logo">
            </a>
        </div>
        <div class="mobile-header__items">
            <a href="/products/search?filter=all&page=0"><i class='bx bx-search'></i></a>
            <% if(locals.userLogged){%>
                <% if (locals.userLogged.accountCart !== undefined) { %>
                    <a href="/users/cart" class="cart-shortcut"><i class='bx bx-cart'>
                        </i><span class="items-in-cart">
                            <%= userLogged.accountCart.length%>
                        </span>
                    </a>
                    <% } else { %>
                        <a href="/users/cart" class="cart-shortcut"><i class='bx bx-cart'>
                            </i><span class="items-in-cart">
                                0
                            </span>
                        </a>
                        <% } %>
                            <% } else {%>
                                <a href="/users/cart" class="cart-shortcut"><i class='bx bx-cart'>
                                    </i><span class="items-in-cart">0</span>
                                </a>
                                <%}%>
                                    <a href="/users/profile"><i class='bx bx-user-circle'></i></a>
                                    <span id="menu-btn"><i class='bx bx-menu-alt-right'></i></span>
        </div>
        <div class="dropdown-menu" id="menu-dropdown">
            <div class="dropdown-menu__title">
                <h2>Menu</h2>
                <hr>
            </div>
            <ul class="dropdown-menu__list">
                <li class="dropdown-menu__items"><a href="/products/search?filter=muebles&page=0">Muebles</a></li>
                <li class="dropdown-menu__items"><a href="/products/search?filter=iluminacion&page=0">Iluminación</a>
                </li>
                <li class="dropdown-menu__items"><a href="/products/search?filter=accesorios&page=0">Accesorios</a></li>
                <li class="dropdown-menu__items"><a href="/products/search?filter=all&page=0">Todos los productos</a>
                </li>
                <li class="dropdown-menu__items"><a href="/products/search?filter=ofertas&page=0">Ofertas</a></li>
            </ul>
            <div class="dropdown-user">
                <% if (locals.userLogged) { %>
                    <div class="dropdown-user__img">
                        <img src="/img/uploads/users/<%= locals.userLogged.profileImg %> "
                            alt="<%= locals.userLogged.name + ' '+ locals.userLogged.lastname  %> ">
                    </div>
                    <div class="dropdown-user__info">
                        <p>
                            <%= locals.userLogged.name %>
                        </p>
                        <a href="/users/logout" style="color:var(--color-red)">Cerrar sesión</a>
                    </div>
                    <% if (locals.userLogged.rolId===4) { %>
                        <div class="admin-menu">
                            <a href="/admin" class="admin-btn"><i class='bx bx-crown'></i><span>ADMIN ZONE</span></a>
                        </div>
                        <%}%>

                            <% }else { %>
                                <div class="dropdown-user__img">
                                    <img src="/img/assets/users/default.png" alt="Guest user">
                                </div>
                                <div class="dropdown-user__info">
                                    <p>Invitado</p>
                                    <a href="/users/login">Iniciar sesión</a>
                                </div>
                                <%} %>
            </div>
        </div>
    </nav>
</header>