<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title:'Zen Hogar | Welcome'}) %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        <div class="cart__header">
        <h1 class="cart-title">Mi carrito</h1>
        <form action="#" class="delete-cart">
            <button type="submit" class="btn btn--alt"> Vaciar carrito <span class="material-symbols-outlined">
                delete
                </span></button>
        </form>
        </div>
        <section class="cart__body">

            <!-- Producto -->
            <article class="cart-product">
                <div class="cart-product__img">
                    <img src="./sillon.jpg" alt="">
                </div>
                <div class="cart-product__detail">
                    <p class="cart-product__detail-name">
                        Nombre del prodeucto
                    </p>
                    <p class="cart-product__detail-price">
                        $3000
                    </p>
                </div>
                <div class="cart-product-items">
                    <p>Cantidad</p>
                    <input type="number">
                </div>
            </article>

            <!-- Producto -->
            <article class="cart-product">
                <div class="cart-product__img">
                    <img src="./sillon.jpg" alt="">
                </div>
                <div class="cart-product__detail">
                    <p class="cart-product__detail-name">
                        Nombre del prodeucto
                    </p>
                    <p class="cart-product__detail-price">
                        $3000
                    </p>
                </div>
                <div class="cart-product-items">
                    <p>Cantidad</p>
                    <input type="number">
                </div>
            </article>

            <!-- Producto -->
            <article class="cart-product">
                <div class="cart-product__img">
                    <img src="./sillon.jpg" alt="">
                </div>
                <div class="cart-product__detail">
                    <p class="cart-product__detail-name">
                        Nombre del prodeucto
                    </p>
                    <p class="cart-product__detail-price">
                        $3000
                    </p>
                </div>
                <div class="cart-product-items">
                    <p>Cantidad</p>
                    <input type="number">
                </div>
            </article>

            <!-- Producto -->
            <article class="cart-product">
                <div class="cart-product__img">
                    <img src="./sillon.jpg" alt="">
                </div>
                <div class="cart-product__detail">
                    <p class="cart-product__detail-name">
                        Nombre del prodeucto
                    </p>
                    <p class="cart-product__detail-price">
                        $3000
                    </p>
                </div>
                <div class="cart-product-items">
                    <p>Cantidad</p>
                    <input type="number">
                </div>
            </article>
            <div class="cart-responsive-fix">
            <div class="cart-resume">
                <p>Subtotal: $0</p>
                <hr class="menu__hr">
                <p>Total: $0</p>
            </div>
            <div class="checkout__btn">
                <button class="btn close">Checkout</button>
            </div>
        </section>
    </main>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>